html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  box-sizing: content-box; }

.container {
  max-width: 1020px;
  margin: auto;
  padding-left: 1.3125rem;
  padding-right: 1.3125rem; }

.grid {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -0.65625rem;
  margin-right: -0.65625rem; }

.grid-item {
  padding-left: 0.65625rem;
  padding-right: 0.65625rem; }

.grid-left {
  -webkit-justify-content: flext-start;
      -ms-flex-pack: flext-start;
          justify-content: flext-start; }

.grid-center {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.grid-right {
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.grid-top {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.grid-middle {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.grid-bottom {
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.grid-flat {
  margin-left: 0;
  margin-right: 0; }
  .grid-flat > .grid-item {
    padding-left: 0;
    padding-right: 0; }

.grid-pair > .grid-item {
  text-align: left; }
.grid-pair > .grid-item + .grid-item {
  text-align: right; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.hidden {
  display: none; }

.visible,
.visible-block {
  display: block; }

.visible-inline-block {
  display: inline-block; }

.visible-inline {
  display: inline; }

[class~="1/1"] {
  width: 100%;
  max-width: 100%;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }

[class~="1/2"],
[class~="2/4"],
[class~="3/6"],
[class~="4/8"],
[class~="5/10"],
[class~="6/12"] {
  width: 50%;
  max-width: 50%;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%; }

[class~="1/3"],
[class~="2/6"],
[class~="3/9"],
[class~="4/12"] {
  width: 33.3333%;
  max-width: 33.3333%;
  -webkit-flex-basis: 33.3333%;
      -ms-flex-preferred-size: 33.3333%;
          flex-basis: 33.3333%; }

[class~="2/3"],
[class~="4/6"],
[class~="6/9"],
[class~="8/12"] {
  width: 66.6666%;
  max-width: 66.6666%;
  -webkit-flex-basis: 66.6666%;
      -ms-flex-preferred-size: 66.6666%;
          flex-basis: 66.6666%; }

[class~="1/4"],
[class~="2/8"],
[class~="3/12"] {
  width: 25%;
  max-width: 25%;
  -webkit-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%; }

[class~="3/4"],
[class~="6/8"],
[class~="9/12"] {
  width: 75%;
  max-width: 75%;
  -webkit-flex-basis: 75%;
      -ms-flex-preferred-size: 75%;
          flex-basis: 75%; }

[class~="1/5"],
[class~="2/10"] {
  width: 20%;
  max-width: 20%;
  -webkit-flex-basis: 20%;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%; }

[class~="2/5"],
[class~="4/10"] {
  width: 40%;
  max-width: 40%;
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%; }

[class~="3/5"],
[class~="6/10"] {
  width: 60%;
  max-width: 60%;
  -webkit-flex-basis: 60%;
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%; }

[class~="4/5"],
[class~="8/10"] {
  width: 80%;
  max-width: 80%;
  -webkit-flex-basis: 80%;
      -ms-flex-preferred-size: 80%;
          flex-basis: 80%; }

[class~="1/6"],
[class~="2/12"] {
  width: 16.6666%;
  max-width: 16.6666%;
  -webkit-flex-basis: 16.6666%;
      -ms-flex-preferred-size: 16.6666%;
          flex-basis: 16.6666%; }

[class~="5/6"],
[class~="10/12"] {
  width: 83.3333%;
  max-width: 83.3333%;
  -webkit-flex-basis: 83.3333%;
      -ms-flex-preferred-size: 83.3333%;
          flex-basis: 83.3333%; }

[class~="1/8"] {
  width: 12.5%;
  max-width: 12.5%;
  -webkit-flex-basis: 12.5%;
      -ms-flex-preferred-size: 12.5%;
          flex-basis: 12.5%; }

[class~="3/8"] {
  width: 37.5%;
  max-width: 37.5%;
  -webkit-flex-basis: 37.5%;
      -ms-flex-preferred-size: 37.5%;
          flex-basis: 37.5%; }

[class~="5/8"] {
  width: 62.5%;
  max-width: 62.5%;
  -webkit-flex-basis: 62.5%;
      -ms-flex-preferred-size: 62.5%;
          flex-basis: 62.5%; }

[class~="7/8"] {
  width: 87.5%;
  max-width: 87.5%;
  -webkit-flex-basis: 87.5%;
      -ms-flex-preferred-size: 87.5%;
          flex-basis: 87.5%; }

[class~="1/9"] {
  width: 11.1111%;
  max-width: 11.1111%;
  -webkit-flex-basis: 11.1111%;
      -ms-flex-preferred-size: 11.1111%;
          flex-basis: 11.1111%; }

[class~="2/9"] {
  width: 22.2222%;
  max-width: 22.2222%;
  -webkit-flex-basis: 22.2222%;
      -ms-flex-preferred-size: 22.2222%;
          flex-basis: 22.2222%; }

[class~="4/9"] {
  width: 44.4444%;
  max-width: 44.4444%;
  -webkit-flex-basis: 44.4444%;
      -ms-flex-preferred-size: 44.4444%;
          flex-basis: 44.4444%; }

[class~="5/9"] {
  width: 55.5555%;
  max-width: 55.5555%;
  -webkit-flex-basis: 55.5555%;
      -ms-flex-preferred-size: 55.5555%;
          flex-basis: 55.5555%; }

[class~="7/9"] {
  width: 77.7777%;
  max-width: 77.7777%;
  -webkit-flex-basis: 77.7777%;
      -ms-flex-preferred-size: 77.7777%;
          flex-basis: 77.7777%; }

[class~="8/9"] {
  width: 88.8888%;
  max-width: 88.8888%;
  -webkit-flex-basis: 88.8888%;
      -ms-flex-preferred-size: 88.8888%;
          flex-basis: 88.8888%; }

[class~="1/10"] {
  width: 10%;
  max-width: 10%;
  -webkit-flex-basis: 10%;
      -ms-flex-preferred-size: 10%;
          flex-basis: 10%; }

[class~="3/10"] {
  width: 30%;
  max-width: 30%;
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%; }

[class~="7/10"] {
  width: 70%;
  max-width: 70%;
  -webkit-flex-basis: 70%;
      -ms-flex-preferred-size: 70%;
          flex-basis: 70%; }

[class~="9/10"] {
  width: 90%;
  max-width: 90%;
  -webkit-flex-basis: 90%;
      -ms-flex-preferred-size: 90%;
          flex-basis: 90%; }

[class~="1/12"] {
  width: 8.3333%;
  max-width: 8.3333%;
  -webkit-flex-basis: 8.3333%;
      -ms-flex-preferred-size: 8.3333%;
          flex-basis: 8.3333%; }

[class~="5/12"] {
  width: 41.6666%;
  max-width: 41.6666%;
  -webkit-flex-basis: 41.6666%;
      -ms-flex-preferred-size: 41.6666%;
          flex-basis: 41.6666%; }

[class~="7/12"] {
  width: 58.3333%;
  max-width: 58.3333%;
  -webkit-flex-basis: 58.3333%;
      -ms-flex-preferred-size: 58.3333%;
          flex-basis: 58.3333%; }

[class~="11/12"] {
  width: 91.6666%;
  max-width: 91.6666%;
  -webkit-flex-basis: 91.6666%;
      -ms-flex-preferred-size: 91.6666%;
          flex-basis: 91.6666%; }

.no-margin {
  margin: 0; }

.no-margin-top {
  margin-top: 0; }

.no-margin-right {
  margin-right: 0; }

.no-margin-bottom {
  margin-bottom: 0; }

.no-margin-left {
  margin-left: 0; }

.no-margin-sides {
  margin-right: 0;
  margin-left: 0; }

.no-margin-ends {
  margin-top: 0;
  margin-bottom: 0; }

.margin-base {
  margin: 1.3125rem; }

.margin-base-top {
  margin-top: 1.3125rem; }

.margin-base-right {
  margin-right: 1.3125rem; }

.margin-base-bottom {
  margin-bottom: 1.3125rem; }

.margin-base-left {
  margin-left: 1.3125rem; }

.margin-base-sides {
  margin-right: 1.3125rem;
  margin-left: 1.3125rem; }

.margin-base-ends {
  margin-top: 1.3125rem;
  margin-bottom: 1.3125rem; }

.margin-quarter {
  margin: 0.32813rem; }

.margin-quarter-top {
  margin-top: 0.32813rem; }

.margin-quarter-right {
  margin-right: 0.32813rem; }

.margin-quarter-bottom {
  margin-bottom: 0.32813rem; }

.margin-quarter-left {
  margin-left: 0.32813rem; }

.margin-quarter-sides {
  margin-right: 0.32813rem;
  margin-left: 0.32813rem; }

.margin-quarter-ends {
  margin-top: 0.32813rem;
  margin-bottom: 0.32813rem; }

.margin-third {
  margin: 0.4375rem; }

.margin-third-top {
  margin-top: 0.4375rem; }

.margin-third-right {
  margin-right: 0.4375rem; }

.margin-third-bottom {
  margin-bottom: 0.4375rem; }

.margin-third-left {
  margin-left: 0.4375rem; }

.margin-third-sides {
  margin-right: 0.4375rem;
  margin-left: 0.4375rem; }

.margin-third-ends {
  margin-top: 0.4375rem;
  margin-bottom: 0.4375rem; }

.margin-halve {
  margin: 0.65625rem; }

.margin-halve-top {
  margin-top: 0.65625rem; }

.margin-halve-right {
  margin-right: 0.65625rem; }

.margin-halve-bottom {
  margin-bottom: 0.65625rem; }

.margin-halve-left {
  margin-left: 0.65625rem; }

.margin-halve-sides {
  margin-right: 0.65625rem;
  margin-left: 0.65625rem; }

.margin-halve-ends {
  margin-top: 0.65625rem;
  margin-bottom: 0.65625rem; }

.margin-double {
  margin: 2.625rem; }

.margin-double-top {
  margin-top: 2.625rem; }

.margin-double-right {
  margin-right: 2.625rem; }

.margin-double-bottom {
  margin-bottom: 2.625rem; }

.margin-double-left {
  margin-left: 2.625rem; }

.margin-double-sides {
  margin-right: 2.625rem;
  margin-left: 2.625rem; }

.margin-double-ends {
  margin-top: 2.625rem;
  margin-bottom: 2.625rem; }

.margin-triple {
  margin: 3.9375rem; }

.margin-triple-top {
  margin-top: 3.9375rem; }

.margin-triple-right {
  margin-right: 3.9375rem; }

.margin-triple-bottom {
  margin-bottom: 3.9375rem; }

.margin-triple-left {
  margin-left: 3.9375rem; }

.margin-triple-sides {
  margin-right: 3.9375rem;
  margin-left: 3.9375rem; }

.margin-triple-ends {
  margin-top: 3.9375rem;
  margin-bottom: 3.9375rem; }

.margin-quadruple {
  margin: 5.25rem; }

.margin-quadruple-top {
  margin-top: 5.25rem; }

.margin-quadruple-right {
  margin-right: 5.25rem; }

.margin-quadruple-bottom {
  margin-bottom: 5.25rem; }

.margin-quadruple-left {
  margin-left: 5.25rem; }

.margin-quadruple-sides {
  margin-right: 5.25rem;
  margin-left: 5.25rem; }

.margin-quadruple-ends {
  margin-top: 5.25rem;
  margin-bottom: 5.25rem; }

.no-padding {
  padding: 0; }

.no-padding-top {
  padding-top: 0; }

.no-padding-right {
  padding-right: 0; }

.no-padding-bottom {
  padding-bottom: 0; }

.no-padding-left {
  padding-left: 0; }

.no-padding-sides {
  padding-right: 0;
  padding-left: 0; }

.no-padding-ends {
  padding-top: 0;
  padding-bottom: 0; }

.padding-base {
  padding: 1.3125rem; }

.padding-base-top {
  padding-top: 1.3125rem; }

.padding-base-right {
  padding-right: 1.3125rem; }

.padding-base-bottom {
  padding-bottom: 1.3125rem; }

.padding-base-left {
  padding-left: 1.3125rem; }

.padding-base-sides {
  padding-right: 1.3125rem;
  padding-left: 1.3125rem; }

.padding-base-ends {
  padding-top: 1.3125rem;
  padding-bottom: 1.3125rem; }

.padding-quarter {
  padding: 0.32813rem; }

.padding-quarter-top {
  padding-top: 0.32813rem; }

.padding-quarter-right {
  padding-right: 0.32813rem; }

.padding-quarter-bottom {
  padding-bottom: 0.32813rem; }

.padding-quarter-left {
  padding-left: 0.32813rem; }

.padding-quarter-sides {
  padding-right: 0.32813rem;
  padding-left: 0.32813rem; }

.padding-quarter-ends {
  padding-top: 0.32813rem;
  padding-bottom: 0.32813rem; }

.padding-third {
  padding: 0.4375rem; }

.padding-third-top {
  padding-top: 0.4375rem; }

.padding-third-right {
  padding-right: 0.4375rem; }

.padding-third-bottom {
  padding-bottom: 0.4375rem; }

.padding-third-left {
  padding-left: 0.4375rem; }

.padding-third-sides {
  padding-right: 0.4375rem;
  padding-left: 0.4375rem; }

.padding-third-ends {
  padding-top: 0.4375rem;
  padding-bottom: 0.4375rem; }

.padding-halve {
  padding: 0.65625rem; }

.padding-halve-top {
  padding-top: 0.65625rem; }

.padding-halve-right {
  padding-right: 0.65625rem; }

.padding-halve-bottom {
  padding-bottom: 0.65625rem; }

.padding-halve-left {
  padding-left: 0.65625rem; }

.padding-halve-sides {
  padding-right: 0.65625rem;
  padding-left: 0.65625rem; }

.padding-halve-ends {
  padding-top: 0.65625rem;
  padding-bottom: 0.65625rem; }

.padding-double {
  padding: 2.625rem; }

.padding-double-top {
  padding-top: 2.625rem; }

.padding-double-right {
  padding-right: 2.625rem; }

.padding-double-bottom {
  padding-bottom: 2.625rem; }

.padding-double-left {
  padding-left: 2.625rem; }

.padding-double-sides {
  padding-right: 2.625rem;
  padding-left: 2.625rem; }

.padding-double-ends {
  padding-top: 2.625rem;
  padding-bottom: 2.625rem; }

.padding-triple {
  padding: 3.9375rem; }

.padding-triple-top {
  padding-top: 3.9375rem; }

.padding-triple-right {
  padding-right: 3.9375rem; }

.padding-triple-bottom {
  padding-bottom: 3.9375rem; }

.padding-triple-left {
  padding-left: 3.9375rem; }

.padding-triple-sides {
  padding-right: 3.9375rem;
  padding-left: 3.9375rem; }

.padding-triple-ends {
  padding-top: 3.9375rem;
  padding-bottom: 3.9375rem; }

.padding-quadruple {
  padding: 5.25rem; }

.padding-quadruple-top {
  padding-top: 5.25rem; }

.padding-quadruple-right {
  padding-right: 5.25rem; }

.padding-quadruple-bottom {
  padding-bottom: 5.25rem; }

.padding-quadruple-left {
  padding-left: 5.25rem; }

.padding-quadruple-sides {
  padding-right: 5.25rem;
  padding-left: 5.25rem; }

.padding-quadruple-ends {
  padding-top: 5.25rem;
  padding-bottom: 5.25rem; }

@media screen and (max-width: 680px) {
  .mobile-hidden {
    display: none; }

  .mobile-visible,
  .mobile-visible-block {
    display: block; }

  .mobile-visible-inline-block {
    display: inline-block; }

  .mobile-visible-inline {
    display: inline; }

  [class~="mobile-1/1"] {
    width: 100%;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }

  [class~="mobile-1/2"],
  [class~="mobile-2/4"],
  [class~="mobile-3/6"],
  [class~="mobile-4/8"],
  [class~="mobile-5/10"],
  [class~="mobile-6/12"] {
    width: 50%;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; }

  [class~="mobile-1/3"],
  [class~="mobile-2/6"],
  [class~="mobile-3/9"],
  [class~="mobile-4/12"] {
    width: 33.3333%;
    -webkit-flex-basis: 33.3333%;
        -ms-flex-preferred-size: 33.3333%;
            flex-basis: 33.3333%; }

  [class~="mobile-2/3"],
  [class~="mobile-4/6"],
  [class~="mobile-6/9"],
  [class~="mobile-8/12"] {
    width: 66.6666%;
    -webkit-flex-basis: 66.6666%;
        -ms-flex-preferred-size: 66.6666%;
            flex-basis: 66.6666%; }

  [class~="mobile-1/4"],
  [class~="mobile-2/8"],
  [class~="mobile-3/12"] {
    width: 25%;
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%; }

  [class~="mobile-3/4"],
  [class~="mobile-6/8"],
  [class~="mobile-9/12"] {
    width: 75%;
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%; }

  [class~="mobile-1/5"],
  [class~="mobile-2/10"] {
    width: 20%;
    -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
            flex-basis: 20%; }

  [class~="mobile-2/5"],
  [class~="mobile-4/10"] {
    width: 40%;
    -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%; }

  [class~="mobile-3/5"],
  [class~="mobile-6/10"] {
    width: 60%;
    -webkit-flex-basis: 60%;
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%; }

  [class~="mobile-4/5"],
  [class~="mobile-8/10"] {
    width: 80%;
    -webkit-flex-basis: 80%;
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%; }

  [class~="mobile-1/6"],
  [class~="mobile-2/12"] {
    width: 16.6666%;
    -webkit-flex-basis: 16.6666%;
        -ms-flex-preferred-size: 16.6666%;
            flex-basis: 16.6666%; }

  [class~="mobile-5/6"],
  [class~="mobile-10/12"] {
    width: 83.3333%;
    -webkit-flex-basis: 83.3333%;
        -ms-flex-preferred-size: 83.3333%;
            flex-basis: 83.3333%; }

  [class~="mobile-1/8"] {
    width: 12.5%;
    -webkit-flex-basis: 12.5%;
        -ms-flex-preferred-size: 12.5%;
            flex-basis: 12.5%; }

  [class~="mobile-3/8"] {
    width: 37.5%;
    -webkit-flex-basis: 37.5%;
        -ms-flex-preferred-size: 37.5%;
            flex-basis: 37.5%; }

  [class~="mobile-5/8"] {
    width: 62.5%;
    -webkit-flex-basis: 62.5%;
        -ms-flex-preferred-size: 62.5%;
            flex-basis: 62.5%; }

  [class~="mobile-7/8"] {
    width: 87.5%;
    -webkit-flex-basis: 87.5%;
        -ms-flex-preferred-size: 87.5%;
            flex-basis: 87.5%; }

  [class~="mobile-1/9"] {
    width: 11.1111%;
    -webkit-flex-basis: 11.1111%;
        -ms-flex-preferred-size: 11.1111%;
            flex-basis: 11.1111%; }

  [class~="mobile-2/9"] {
    width: 22.2222%;
    -webkit-flex-basis: 22.2222%;
        -ms-flex-preferred-size: 22.2222%;
            flex-basis: 22.2222%; }

  [class~="mobile-4/9"] {
    width: 44.4444%;
    -webkit-flex-basis: 44.4444%;
        -ms-flex-preferred-size: 44.4444%;
            flex-basis: 44.4444%; }

  [class~="mobile-5/9"] {
    width: 55.5555%;
    -webkit-flex-basis: 55.5555%;
        -ms-flex-preferred-size: 55.5555%;
            flex-basis: 55.5555%; }

  [class~="mobile-7/9"] {
    width: 77.7777%;
    -webkit-flex-basis: 77.7777%;
        -ms-flex-preferred-size: 77.7777%;
            flex-basis: 77.7777%; }

  [class~="mobile-8/9"] {
    width: 88.8888%;
    -webkit-flex-basis: 88.8888%;
        -ms-flex-preferred-size: 88.8888%;
            flex-basis: 88.8888%; }

  [class~="mobile-1/10"] {
    width: 10%;
    -webkit-flex-basis: 10%;
        -ms-flex-preferred-size: 10%;
            flex-basis: 10%; }

  [class~="mobile-3/10"] {
    width: 30%;
    -webkit-flex-basis: 30%;
        -ms-flex-preferred-size: 30%;
            flex-basis: 30%; }

  [class~="mobile-7/10"] {
    width: 70%;
    -webkit-flex-basis: 70%;
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%; }

  [class~="mobile-9/10"] {
    width: 90%;
    -webkit-flex-basis: 90%;
        -ms-flex-preferred-size: 90%;
            flex-basis: 90%; }

  [class~="mobile-1/12"] {
    width: 8.3333%;
    -webkit-flex-basis: 8.3333%;
        -ms-flex-preferred-size: 8.3333%;
            flex-basis: 8.3333%; }

  [class~="mobile-5/12"] {
    width: 41.6666%;
    -webkit-flex-basis: 41.6666%;
        -ms-flex-preferred-size: 41.6666%;
            flex-basis: 41.6666%; }

  [class~="mobile-7/12"] {
    width: 58.3333%;
    -webkit-flex-basis: 58.3333%;
        -ms-flex-preferred-size: 58.3333%;
            flex-basis: 58.3333%; }

  [class~="mobile-11/12"] {
    width: 91.6666%;
    -webkit-flex-basis: 91.6666%;
        -ms-flex-preferred-size: 91.6666%;
            flex-basis: 91.6666%; } }
h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dd, hr,
blockquote, pre, table, th, td,
form, fieldset, caption, legend {
  margin: 0;
  padding: 0; }

p, ul, ol, dl, hr,
blockquote, pre, table {
  margin-bottom: 1.3125rem; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

html {
  position: relative;
  overflow-y: scroll;
  min-height: 100%; }

body {
  margin-bottom: 60px;
  font-family: "Roboto";
  font-weight: 400;
  color: #111; }

body {
  font-size: 0.9375rem;
  line-height: 1.3125rem; }

h1,
.h1 {
  font-size: 3.1875rem;
  line-height: 3.9375rem;
  margin-bottom: 1.3125rem;
  margin-top: 2.625rem; }

h2,
.h2 {
  font-size: 2.125rem;
  line-height: 2.625rem;
  margin-bottom: 1.3125rem;
  margin-top: 2.625rem; }

h3,
.h3 {
  font-size: 1.4375rem;
  line-height: 2.625rem;
  margin-bottom: 1.3125rem;
  margin-top: 1.3125rem; }

h4, h5, h6,
.h4, .h5, .h6 {
  font-size: 0.9375rem;
  line-height: 1.3125rem;
  margin-bottom: 1.3125rem;
  margin-top: 1.3125rem; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto";
  font-weight: 700; }

strong, em, small, code, hr {
  line-height: 1; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

a {
  color: #0074d9;
  word-wrap: break-word;
  text-decoration: none;
  text-decoration: underline; }
  a:active {
    position: relative;
    top: 1px; }

sup, sub {
  vertical-align: baseline;
  position: relative; }

sup {
  top: -0.4em; }

sub {
  bottom: -0.25em; }

blockquote {
  padding-left: 1.3125rem;
  border-left: 3px solid #ddd;
  color: #aaa; }
  blockquote > *:last-child {
    margin-bottom: 0; }

code {
  font-family: "Roboto Mono";
  white-space: nowrap; }

pre code {
  white-space: pre-wrap; }

small,
.text-small {
  font-size: 0.8125rem;
  line-height: 1.125rem; }

.text-micro {
  font-size: 0.6875rem;
  line-height: 0.9375rem; }

.text-lead {
  font-size: 1.125rem;
  line-height: 1.5625rem; }

.text-mono {
  font-family: "Roboto Mono"; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-light {
  font-weight: 100; }

.text-normal {
  font-weight: 400; }

.text-bold {
  font-weight: 700; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-positive {
  color: #2ecc40; }

.text-negative {
  color: #ff4136; }

.text-informative {
  color: #0074d9; }

ul > li,
ol > li {
  margin-left: 1.3125rem; }

dl > dt {
  font-weight: 700; }

dd + dt {
  margin-top: 0.65625rem; }

.navbar-menu,
.list-inline,
.list-menu,
.list-reset {
  padding-left: 0;
  list-style: none; }
  .navbar-menu > li,
  .list-inline > li,
  .list-menu > li,
  .list-reset > li {
    margin-left: 0; }

.navbar-menu,
.list-inline {
  margin-bottom: 0;
  margin-left: -0.32813rem; }
  .navbar-menu > li,
  .list-inline > li {
    display: inline-block;
    padding-left: 0.32813rem;
    padding-right: 0.32813rem; }

.navbar-menu,
.list-menu {
  margin-top: -0.32813rem; }
  .navbar-menu > li > a,
  .list-menu > li > a {
    padding-top: 0.39375rem;
    padding-bottom: 0.2625rem;
    padding-right: 0.65625rem;
    padding-left: 0.65625rem;
    display: block;
    border-radius: 4px;
    text-decoration: none; }
    .navbar-menu > li > a:hover,
    .list-menu > li > a:hover {
      color: #fff;
      background: #0074d9; }
    .navbar-menu > li > a:active,
    .list-menu > li > a:active {
      top: 0px; }

hr {
  height: 1px;
  border: 0 none;
  background-color: #ddd;
  color: #ddd; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%; }

.img-rounded {
  border-radius: 4px; }

.img-circle {
  border-radius: 50%; }

table {
  width: 100%; }

thead {
  text-align: left; }

td, th {
  padding: 0.32813rem; }

.table-bordered > tr > th,
.table-bordered > tr > td,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td {
  border: 1px solid #ddd; }

.table-zebra > tbody > tr:nth-child(odd) > td {
  background-color: rgba(221, 221, 221, 0.5); }

.table-hover > tbody > tr:hover > td {
  background-color: rgba(221, 221, 221, 0.5); }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

label,
textarea,
input[type="file"] {
  display: block; }

input {
  cursor: pointer; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
textarea {
  padding-top: 0.39375rem;
  padding-bottom: 0.2625rem;
  padding-right: 0.65625rem;
  padding-left: 0.65625rem;
  border: 1px solid #ddd; }

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  bottom: 1px;
  vertical-align: middle;
  margin-right: 0.32813rem; }

input[disabled] {
  background-color: #eaeaea; }

.form-inline > label {
  display: inline-block; }
.form-inline > * {
  margin-right: 0.32813rem; }

.form-stacked > label {
  display: block;
  margin-bottom: 0.32813rem; }
.form-stacked > label + input,
.form-stacked > label + select,
.form-stacked > label + textarea,
.form-stacked > label:not([for]) {
  margin-bottom: 1.3125rem; }

.form-horizontal .form-item {
  margin-bottom: 1.3125rem; }
.form-horizontal .form-item > label {
  padding-top: 0.39375rem;
  padding-bottom: 0.2625rem;
  padding-right: 0.65625rem;
  padding-left: 0.65625rem;
  display: inline-block;
  margin: 0;
  text-align: right; }
.form-horizontal .grid-item > .form-item > label {
  padding-left: 0; }

button,
.btn {
  padding-top: 0.39375rem;
  padding-bottom: 0.2625rem;
  padding-right: 0.65625rem;
  padding-left: 0.65625rem;
  display: inline-block;
  appearance: none;
  margin: 0;
  border: 0;
  border-radius: 4px;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  background-color: #111;
  color: #fff;
  text-decoration: none; }

button[disabled],
.btn-disabled {
  background-color: #aaa;
  cursor: default; }
  button[disabled]:active,
  .btn-disabled:active {
    top: 0; }

.btn-block {
  display: block;
  padding-left: 0;
  padding-right: 0;
  text-align: center; }

.btn-positive {
  background-color: #2ecc40; }

.btn-negative {
  background-color: #ff4136; }

.box {
  padding: 0.65625rem; }
  .box > *:last-child {
    margin-bottom: 0; }

.box-positive {
  border: 1px solid #2ecc40;
  background: #bcf0c2;
  color: #0d3a12; }

.box-negative {
  border: 1px solid #ff4136;
  background: #ffeae9;
  color: #830700; }

.box-informative {
  border: 1px solid #0074d9;
  background: #8dcaff;
  color: #001527; }

.navbar {
  margin-bottom: 2.625rem;
  padding-top: 0.65625rem;
  padding-bottom: 0.65625rem;
  background: #000;
  color: #fff; }

.navbar-menu > li > a,
.navbar-link {
  padding-top: 0.39375rem;
  padding-bottom: 0.2625rem;
  padding-right: 0.65625rem;
  padding-left: 0.65625rem;
  border-radius: 4px;
  color: #fff;
  text-decoration: none; }
  .navbar-menu > li > a:hover,
  .navbar-link:hover {
    background-color: rgba(255, 255, 255, 0.15); }

.navbar-menu {
  margin-top: 0; }

.navbar-container > .grid > .grid-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.sticky-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  padding-top: 1.3125rem;
  padding-bottom: 1.3125rem; }

.brand {
  background-repeat: no-repeat;
  background-image: url("/images/brand-dark.png");
  width: 144px;
  height: 72px;
  text-indent: -9999px;
  white-space: nowrap;
  background-size: 144px 72px; }

.color-block, .grid-preview, p > code, .highlight > pre {
  font-size: 0.75rem;
  line-height: 1.0625rem;
  font-family: "Roboto Mono";
  background-color: #111;
  color: #c5c8c6; }

.color-block, .grid-preview {
  border-radius: 4px;
  padding: 0.4375rem;
  margin-bottom: 1.3125rem;
  color: #fff; }

p > code {
  padding: 0.16406rem 0.32813rem;
  margin-left: 0.16406rem;
  margin-right: 0.16406rem; }

.highlight {
  background-color: transparent;
  color: transparent; }
  .highlight > pre {
    padding: 0.4375rem; }

.color-block-aqua {
  background-color: #7fdbff; }

.color-block-blue {
  background-color: #0074d9; }

.color-block-navy {
  background-color: #001f3f; }

.color-block-teal {
  background-color: #39cccc; }

.color-block-green {
  background-color: #2ecc40; }

.color-block-olive {
  background-color: #3d9970; }

.color-block-lime {
  background-color: #01ff70; }

.color-block-yellow {
  background-color: #ffdc00; }

.color-block-orange {
  background-color: #ff851b; }

.color-block-red {
  background-color: #ff4136; }

.color-block-fuchsia {
  background-color: #f012be; }

.color-block-purple {
  background-color: #b10dc9; }

.color-block-maroon {
  background-color: #85144b; }

.color-block-white {
  background-color: #fff;
  color: #111; }

.color-block-silver {
  background-color: #ddd; }

.color-block-gray {
  background-color: #aaa; }

.color-block-black {
  background-color: #111; }

.highlight .hll {
  background-color: #373b41; }

.highlight {
  background: #1d1f21;
  color: #c5c8c6; }

.highlight .c {
  color: #969896; }

/* Comment */
.highlight .err {
  color: #cc6666; }

/* Error */
.highlight .k {
  color: #b294bb; }

/* Keyword */
.highlight .l {
  color: #de935f; }

/* Literal */
.highlight .n {
  color: #c5c8c6; }

/* Name */
.highlight .o {
  color: #8abeb7; }

/* Operator */
.highlight .p {
  color: #c5c8c6; }

/* Punctuation */
.highlight .cm {
  color: #969896; }

/* Comment.Multiline */
.highlight .cp {
  color: #969896; }

/* Comment.Preproc */
.highlight .c1 {
  color: #969896; }

/* Comment.Single */
.highlight .cs {
  color: #969896; }

/* Comment.Special */
.highlight .gd {
  color: #cc6666; }

/* Generic.Deleted */
.highlight .ge {
  font-style: italic; }

/* Generic.Emph */
.highlight .gh {
  color: #c5c8c6;
  font-weight: bold; }

/* Generic.Heading */
.highlight .gi {
  color: #b5bd68; }

/* Generic.Inserted */
.highlight .gp {
  color: #969896;
  font-weight: bold; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #8abeb7;
  font-weight: bold; }

/* Generic.Subheading */
.highlight .kc {
  color: #b294bb; }

/* Keyword.Constant */
.highlight .kd {
  color: #b294bb; }

/* Keyword.Declaration */
.highlight .kn {
  color: #8abeb7; }

/* Keyword.Namespace */
.highlight .kp {
  color: #b294bb; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #b294bb; }

/* Keyword.Reserved */
.highlight .kt {
  color: #f0c674; }

/* Keyword.Type */
.highlight .ld {
  color: #b5bd68; }

/* Literal.Date */
.highlight .m {
  color: #de935f; }

/* Literal.Number */
.highlight .s {
  color: #b5bd68; }

/* Literal.String */
.highlight .na {
  color: #81a2be; }

/* Name.Attribute */
.highlight .nb {
  color: #c5c8c6; }

/* Name.Builtin */
.highlight .nc {
  color: #f0c674; }

/* Name.Class */
.highlight .no {
  color: #cc6666; }

/* Name.Constant */
.highlight .nd {
  color: #8abeb7; }

/* Name.Decorator */
.highlight .ni {
  color: #c5c8c6; }

/* Name.Entity */
.highlight .ne {
  color: #cc6666; }

/* Name.Exception */
.highlight .nf {
  color: #81a2be; }

/* Name.Function */
.highlight .nl {
  color: #c5c8c6; }

/* Name.Label */
.highlight .nn {
  color: #f0c674; }

/* Name.Namespace */
.highlight .nx {
  color: #81a2be; }

/* Name.Other */
.highlight .py {
  color: #c5c8c6; }

/* Name.Property */
.highlight .nt {
  color: #8abeb7; }

/* Name.Tag */
.highlight .nv {
  color: #cc6666; }

/* Name.Variable */
.highlight .ow {
  color: #8abeb7; }

/* Operator.Word */
.highlight .w {
  color: #c5c8c6; }

/* Text.Whitespace */
.highlight .mf {
  color: #de935f; }

/* Literal.Number.Float */
.highlight .mh {
  color: #de935f; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #de935f; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #de935f; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #b5bd68; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #c5c8c6; }

/* Literal.String.Char */
.highlight .sd {
  color: #969896; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #b5bd68; }

/* Literal.String.Double */
.highlight .se {
  color: #de935f; }

/* Literal.String.Escape */
.highlight .sh {
  color: #b5bd68; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #de935f; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #b5bd68; }

/* Literal.String.Other */
.highlight .sr {
  color: #b5bd68; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #b5bd68; }

/* Literal.String.Single */
.highlight .ss {
  color: #b5bd68; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #c5c8c6; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #cc6666; }

/* Name.Variable.Class */
.highlight .vg {
  color: #cc6666; }

/* Name.Variable.Global */
.highlight .vi {
  color: #cc6666; }

/* Name.Variable.Instance */
.highlight .il {
  color: #de935f; }

/* Literal.Number.Integer.Long */
.example {
  border: 1px solid #ddd;
  border-bottom: 0;
  padding: 1.3125rem; }
  .example > *:last-child {
    margin-top: 0;
    margin-bottom: 0; }
  .example + .highlight {
    margin-bottom: 2.625rem; }

.footer {
  color: #aaa;
  border-top: 1px solid #ddd; }

.grid-preview {
  background-color: #0074d9;
  color: #fff;
  text-align: center; }
  .grid-pair > .grid-item > .grid-preview {
    text-align: inherit; }
  .example .grid-preview {
    margin-bottom: 0; }
  .grid-preview .grid-preview {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #7fdbff; }

.grid-preview-large {
  padding-top: 2.625rem;
  padding-bottom: 2.625rem; }
