<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hocus-Pocus</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:100,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/docs.css">
  </head>

  <body>
    <div class="navbar">
      <div class="container navbar-container">
        <div class="grid grid-pair">
          <div class="grid-item 1/2">
            <a href="/" class="brand">Hocus-Pocus</a>
          </div>
          <div class="grid-item 1/2">
            <ul class="navbar-menu mobile-hidden">
              <li><a href="https://github.com/bkzl/hocus-pocus">View the GitHub project</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container padding-double-bottom">
      <div class="grid">
        <div class="grid-item 1/5 mobile-hidden">
          <ul class="list-menu">
            <li><a href="/">Home</a></li>
<li><a href="/quick-start">Quick Start</a></li>
<li><a href="/defaults">Defaults</a></li>
<li><a href="/layout">Grid & Layout</a></li>
<li><a href="/responsive">Responsive</a></li>
<li><a href="/type">Type</a></li>
<li><a href="/images">Images</a></li>
<li><a href="/tables">Tables</a></li>
<li><a href="/forms">Forms</a></li>
<li><a href="/buttons">Buttons</a></li>
<li><a href="/navbar">Navbar</a></li>
<li><a href="/sticky-footer">Sticky Footer</a></li>
<li><a href="/extras">Extras</a></li>

          </ul>
        </div>
        <div class="grid-item 4/5 mobile-1/1">
          <div class="hidden mobile-visible margin-double-bottom">
            <ul class="list-inline">
              <li><a href="/">Home</a></li>
<li><a href="/quick-start">Quick Start</a></li>
<li><a href="/defaults">Defaults</a></li>
<li><a href="/layout">Grid & Layout</a></li>
<li><a href="/responsive">Responsive</a></li>
<li><a href="/type">Type</a></li>
<li><a href="/images">Images</a></li>
<li><a href="/tables">Tables</a></li>
<li><a href="/forms">Forms</a></li>
<li><a href="/buttons">Buttons</a></li>
<li><a href="/navbar">Navbar</a></li>
<li><a href="/sticky-footer">Sticky Footer</a></li>
<li><a href="/extras">Extras</a></li>

            </ul>
          </div>

          <p>Use <code>.container</code> class to create a centered wrapper. It has a width of
<code>$grid-container</code>.</p>

<div class="example">
  <div class="container grid-preview">
    .container
  </div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;container&quot;</span><span class="nt">&gt;</span>
  ...
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>
<h3>Grid</h3>

<p>Use <code>.grid</code> with nested <code>.grid-item</code> elements to build a grid.</p>

<div class="example">
  <div class="grid">
    <div class="grid-item 1/3">
      <div class="grid-preview">
        .grid-item.1/3
      </div>
    </div>

    <div class="grid-item 2/3">
      <div class="grid-preview">
        .grid-item.2/3
      </div>
    </div>
  </div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid-item 1/3&quot;</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid-item 2/3&quot;</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>
<p>There are a few additional classes to align block elements horizontally
and vertically.</p>

<div class="example">
  <div class="grid grid-left">
    <div class="grid-item 1/3">
      <div class="grid-preview">
        .grid-item.1/3
      </div>
    </div>
  </div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid grid-left&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid-item 1/3&quot;</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>
<div class="example">
  <div class="grid grid-center">
    <div class="grid-item 1/3">
      <div class="grid-preview">
        .grid-item.1/3
      </div>
    </div>
  </div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid grid-center&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid-item 1/3&quot;</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>
<div class="example">
  <div class="grid grid-right">
    <div class="grid-item 1/3">
      <div class="grid-preview">
        .grid-item.1/3
      </div>
    </div>
  </div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid grid-right&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid-item 1/3&quot;</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>
<div class="example">
  <div class="grid grid-top">
    <div class="grid-item 1/2">
      <div class="grid-preview grid-preview-large">
        .grid-item.1/2
      </div>
    </div>
    <div class="grid-item 1/2">
      <div class="grid-preview">
        .grid-item.1/2
      </div>
    </div>
  </div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid grid-top&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid-item 1/2&quot;</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid-item 1/2&quot;</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>
<div class="example">
  <div class="grid grid-middle">
    <div class="grid-item 1/2">
      <div class="grid-preview grid-preview-large">
        .grid-item.1/2
      </div>
    </div>
    <div class="grid-item 1/2">
      <div class="grid-preview">
        .grid-item.1/2
      </div>
    </div>
  </div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid grid-middle&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid-item 1/2&quot;</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid-item 1/2&quot;</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>
<div class="example">
  <div class="grid grid-bottom">
    <div class="grid-item 1/2">
      <div class="grid-preview grid-preview-large">
        .grid-item.1/2
      </div>
    </div>
    <div class="grid-item 1/2">
      <div class="grid-preview">
        .grid-item.1/2
      </div>
    </div>
  </div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid grid-bottom&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid-item 1/2&quot;</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid-item 1/2&quot;</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>
<p>You can create a flat grid without the gutter too:</p>

<div class="example">
  <div class="grid grid-flat grid-preview">
    <div class="grid-item 1/2">
      <div class="grid-preview">
        .grid-item.1/2
      </div>
    </div>
    <div class="grid-item 1/2">
      <div class="grid-preview">
        .grid-item.1/2
      </div>
    </div>
  </div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid grid-flat&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid-item 1/2&quot;</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid-item 1/2&quot;</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>
<p>Or a grid with two elements where content of the first one is aligned to the
left and content of the second one is aligned to the right.</p>

<div class="example">
  <div class="grid grid-pair">
    <div class="grid-item 1/2">
      <div class="grid-preview">
        .grid-item.1/2
      </div>
    </div>
    <div class="grid-item 1/2">
      <div class="grid-preview">
        .grid-item.1/2
      </div>
    </div>
  </div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid grid-pair&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid-item 1/2&quot;</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;grid-item 1/2&quot;</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>
<h3>Width helpers</h3>

<p>Use width helpers with various elements like grid items, inputs or table cells.
There are available fractions of these numbers: <code>n/1</code>, <code>n/2</code>, <code>n/3</code>, <code>n/4</code>,
<code>n/5</code>, <code>n/6</code>, <code>n/8</code>, <code>n/9</code>, <code>n/10</code> and <code>n/12</code>.</p>

<div class="grid">
  <div class="grid-item 1/1">
    <div class="grid-preview">
      .1/1
    </div>
  </div>
</div>

<div class="grid">
  <div class="grid-item 1/4">
    <div class="grid-preview">
      .1/4, .2/8, .3/12
    </div>
  </div>
  <div class="grid-item 3/4">
    <div class="grid-preview">
      .3/4, .6/8, .9/12
    </div>
  </div>
</div>

<div class="grid">
  <div class="grid-item 2/5">
    <div class="grid-preview">
      .2/5, .4/10
    </div>
  </div>
  <div class="grid-item 3/5">
    <div class="grid-preview">
      .3/5, .6/10
    </div>
  </div>
</div>

<div class="grid">
  <div class="grid-item 1/6">
    <div class="grid-preview">
      .1/6, .2/12
    </div>
  </div>
  <div class="grid-item 5/6">
    <div class="grid-preview">
      .5/6, .10/12
    </div>
  </div>
</div>

<div class="grid">
  <div class="grid-item 1/2">
    <div class="grid-preview">
      .1/2, .2/4, .3/6, .4/8, .5/10, .6/12
    </div>
  </div>
  <div class="grid-item 1/8">
    <div class="grid-preview">
      .1/8
    </div>
  </div>
  <div class="grid-item 3/8">
    <div class="grid-preview">
      .3/8
    </div>
  </div>
</div>

<h3>Layout helpers</h3>

<div class="example">
  <div class="clearfix">
    <div class="float-left grid-preview">.float-left</div>
    <div class="float-right grid-preview">.float-right</div>
  </div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;clearfix&quot;</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;float-left&quot;</span><span class="nt">&gt;</span>.float-left<span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;float-right&quot;</span><span class="nt">&gt;</span>.float-right<span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>
<h3>Visibility helpers</h3>

<p><code>.hidden</code>, <code>.visible</code>, <code>.visible-block</code>, <code>.visible-inline-block</code>, <code>.visible-inline</code></p>

<h3>Spacing helpers</h3>

<p>Spacing helpers are generated based on the <code>$spacing-map</code> hash. By default you
get access to four helpers with various types and sizes:</p>
<div class="highlight"><pre><code class="language-sass" data-lang="sass"><span class="nc">.margin</span><span class="o">[</span><span class="nt">-size</span><span class="o">][</span><span class="nt">-type</span><span class="o">]</span>
<span class="nc">.padding</span><span class="o">[</span><span class="nt">-size</span><span class="o">][</span><span class="nt">-type</span><span class="o">]</span>
<span class="nc">.no-margin</span><span class="o">[</span><span class="nt">-type</span><span class="o">]</span>
<span class="nc">.no-padding</span><span class="o">[</span><span class="nt">-type</span><span class="o">]</span>

<span class="c1">// type: -top, -right, -bottom, -left, -sides, -ends</span>
<span class="c1">// size: -base, -quarter, -third, -half, -double, -triple, -quadruple</span>
</code></pre></div>
<p>Examples:</p>
<div class="highlight"><pre><code class="language-sass" data-lang="sass"><span class="nc">.no-margin</span>
  <span class="na">margin</span><span class="o">:</span> <span class="mi">0</span>

<span class="nc">.no-margin-ends</span>
  <span class="na">margin-top</span><span class="o">:</span> <span class="mi">0</span>
  <span class="na">margin-bottom</span><span class="o">:</span> <span class="mi">0</span>

<span class="nc">.margin-base</span>
  <span class="na">margin</span><span class="o">:</span> <span class="nv">$spacing-unit</span>

<span class="nc">.margin-double-right</span>
  <span class="na">margin-right</span><span class="o">:</span> <span class="nf">double</span><span class="p">(</span><span class="nv">$spacing-unit</span><span class="p">)</span>

<span class="nc">.no-padding-sides</span>
  <span class="na">padding-right</span><span class="o">:</span> <span class="mi">0</span>
  <span class="na">padding-left</span><span class="o">:</span> <span class="mi">0</span>

<span class="nc">.padding-half-top</span>
  <span class="na">padding-top</span><span class="o">:</span> <span class="nf">halve</span><span class="p">(</span><span class="nv">$spacing-unit</span><span class="p">)</span>
</code></pre></div>
<h3>Box</h3>

<p>Use <code>.box</code> to create an element out of your content. The last element inside
has no bottom margin.</p>

<div class="example">
  <div class="box" style="background-color: #eee;">
    <p>Element inside a box</p>
  </div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">&quot;box&quot;</span> <span class="na">style=</span><span class="s">&quot;background-color: #eee;&quot;</span><span class="nt">&gt;</span>
  ...
<span class="nt">&lt;/div&gt;</span>
</code></pre></div>
        </div>
      </div>
    </div>

    <footer class="footer sticky-footer">
      <div class="container">
        <div class="grid grid-pair">
          <div class="grid-item 1/2">
            <div class="mobile-hidden">
              Maintained by <a href="http://bkzl.github.io">bkzl</a>
              under the <a href="https://github.com/bkzl/hocus-pocus/blob/master/LICENSE">MIT license</a>.
            </div>
          </div>
          <div class="grid-item 1/2">
            Latest release: <a href="https://github.com/bkzl/hocus-pocus/tree/v0.1.2">v0.1.2</a>
          </div>
        </div>
      </div>
    </footer>

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '55fc172892c6ac504901654a');
        t.setAttribute('data-track-path', 'http://track.gaug.es/track.gif');
        t.src = 'https://track.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
